@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}
h1{  color:DarkMagenta
}
h1 { font-size: 550%;
}
h1{  font-family:Lobster;
}
h1 {  font-stretch: ultra-condensed;
}
h1 {  text-align: center;
}
.btn-primary {
  color: Indigo
}
.btn-primary{
  font-size: 10px
}
.btn-primary{
  font-family: Rock Salt;
}
.btn-primary {
  background-color: white
}
.btn-primary{
  border-color: white
}
.btn-primary:hover{
  background-color: White
}
.btn-primary:hover{
  color: Indigo
}
.btn-primary:hover{
  border-color: white
}
h2{
  font-family: Special Elite;
}
h2{
  font-size: 100px;
}
h2{
  text-align: center
}
h3{
  font-family: Lobster;
}
h3{
  font-size: 50px;
}
h3{
  text-align: center;
}
h3{
  color: DarkMagenta;
}
h4{
  font-family: Rock Salt;
}
h4{
  font-size: 25px;
}
h4{
  color: Grey
}
h4{
  text-align: center;
}
p{
  font-family: Coming Soon;
}
p{
  font-size: 15px;
}
p{
  text-align: center;
}
p{
  padding-right: 250px;
  padding-left: 250px;
}
#waitress{
  float:left;
}
h5{
  font-family: Coming Soon;
}
h5{
border-width: medium;
}
h5{
  border-color: DarkMagenta
}
h5{
  border-style: double;
}
