.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}
@import url(https://fonts.googleapis.com/css?family=Lobster);

h1{  color:Red
}
h1{  border-style: groove;
}
h1{  border-width: thick;
}
h1{  border-color: DarkMagenta
}
h1 { font-size: 300%;
}
h1{  font-family: Lobster;
}
h1 {  font-stretch: ultra-condensed;
}
h1 {  text-align: center;
}
