<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<a href="simple"
<img src="Images/Farinata.jpg" alt="Farinata " style="width:395px;height:220px" id="Farn">
<body>
<div class="container">
  <h1>{{ page.title }}</h1>
  <div class="row">
    <div class="col-md-3"
    <a href="simple_app.html"class="btn btn-primary">STORIES</a>
    <a href="simple_app.html"class="btn btn-primary">PHOTOS</a>
    <a href="simple_app.html"class="btn btn-primary">ADD YOURS</a>

  {{ content }}
</div>
</body>
</html>
