<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

  <h1>{{ page.title }}</h1>

  <div class="container">
  <div class="row">
    <div class="col-md-2">
      <a href="index.html"class="btn btn-primary"> HOME</a>
    </div>
    <div class="col-md-2">
    <a href="serverstories.html"class="btn btn-primary">STORIES</a>
  </div>
        <div class="col-md-2">
    <a href="serverphotos.html"class="btn btn-primary">PHOTOS</a>
  </div>
      <div class="col-md-2">
    <a href="addyours.html"class="btn btn-primary">ADD YOURS</a>
  </div>
</div>
</div>
  {{ content }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>"
</body>
</html>
